body {
  margin: 0;
}
p {
  font-size: 86%;
}
.contenedor {
  padding-top: 5%;
  border-radius: 25px;
}
.cardContent {
  border-radius: 25px;
  background-color: #f2f1f1;
  color: #003758;
  border: 2px solid #003758;
}

img {
  margin: 15%;
  border-radius: 5%;
}

.dates {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
